body {
  box-sizing: border-box;
}
#sideinfo {
  /* width: 20% !important; */
  position: absolute;
  left: -21%;
  z-index: 33;
}
/* @media screen and (min-width: 480px) {
  #sideinfo {
    width: 30%;
  }
} */
#sidebar {
  /* width: 20%; */
  z-index: 9999 !important;
  height: 100vh;
  background-color: aqua;
  width: 20%;
  
}
.logo
{
    left: 10%;
}
.slidenvbtn {
  top: 40%;
  left: 55%;
  transform: translate(-50%);
}
#socialicon {
  bottom: 0;
  left: 50%;
}

.layer {
  background-color: rgba(0, 255, 255, 0.8);
  height: 100%;
  transition: 2s all;
  bottom: -100%;
  transition: all 2s;
}
#movieboster {
  z-index: 0 !important;
  overflow: hidden;
  transition: all 1.5s;
}
#movieboster:hover .layer {
  bottom: 0%;
}

#color-change{
    width: 20px;
    height: 20px;
    
}
.change-color{
    background-color: rgba(218, 252, 252, 0.862) ;
}
.dark-color{
  background-color: black ;
}
